data/onnx_models
data/Jaama_orienteering_goal_images
data/Kruusamae_goal_images
data/csv
data/test_goal_images
data/vikerkaare_orienteering
output
scripts
src/global_planner/data/__pycache__
src/global_planner/viz/__pycache__
src/utils/__pycache__