<launch>

    <!-- ZED Wrapper -->
    <!-- ******************************************************************************************************************************************* -->
    <!-- Setting the static tf between robot's base link and zed camera's base link -->
    <include file="$(find zed_wrapper)/launch/zed.launch">        
        <arg name="cam_pos_x" value="0.2200" />
        <arg name="cam_pos_y" value="0.0110" />
        <arg name="cam_pos_z" value="0.305" />
        <arg name="cam_roll" value="0.0" />
        <arg name="cam_pitch" value="0.0" />
        <arg name="cam_yaw" value="0.0" />
    </include>

    <param name="/zed/zed_node/pos_tracking/publish_map_tf" type="Bool" value="false" />
    <param name="/zed/zed_node/pos_tracking/publish_tf" type="Bool" value="false" />
    <param name="/zed/zed_node/pos_tracking/pos_tracking_enabled" type="Bool" value="false" /> 
    <!-- ******************************************************************************************************************************************* -->

    <!-- xsens driver -->
    <!-- ******************************************************************************************************************************************* -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="gps_frame_transform" args="-0.05 0 0.41 0 0 0 1 chassis_link gps_frame" />
    <node name="xsens_mti_node" pkg="xsens_mti_driver" type="xsens_mti_node" output="screen">
        <rosparam command="load" file="$(find robot_orienteering)/param/xsens_mti_node.yaml" />
        <remap from="/imu/data" to="/xsens_imu/data" />
    </node>
    <!-- ******************************************************************************************************************************************* -->

</launch>